.payments-page{

padding:25px;

}

.payments-header{

margin-bottom:25px;

}

.payments-header h2{

font-size:28px;

margin-bottom:5px;

}

.payments-header p{

color:#777;

}

.payments-list{

display:grid;

grid-template-columns:repeat(auto-fill,minmax(350px,1fr));

gap:20px;

}

.empty-payment{

padding:50px;

background:#fff;

border-radius:10px;

text-align:center;

font-weight:600;

}