.form-group{

    display:flex;

    flex-direction:column;

    gap:8px;

    margin-bottom:18px;

}

.form-group label{

    font-size:14px;

    font-weight:600;

    color:#444;

}

.form-group input,
.form-group select,
.form-group textarea{

    width:100%;

    padding:12px 15px;

    border:1px solid #ddd;

    border-radius:10px;

    font-size:15px;

    outline:none;

    transition:.3s;

    background:#fff;

}

.form-group textarea{

    resize:vertical;

}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus{

    border-color:#E31E24;

    box-shadow:0 0 0 3px rgba(227,30,36,.15);

}